<h1>This is ANSWER</h1>

<div class="answerbox">
<p>  <%= @question %> </p>
<p>You</p>
</div>

<div class="answerbox">
<p>  <%= @answer%> </p>
<p>Your coach</p>
</div>


<%= link_to "Ask a new question", "/ask" %>
