<h2 id="question">What do you want to ask your coach?</h2>

<form action="/answer">
  <input type="text" name="question" placeholder="Input the name here" id="input">
  <input type="submit" value="Ask!" id="submit">
</form>
